@model IEnumerable<MSTGreekLife.Models.PartyModel>

@{
    ViewBag.Title = "Scheduled Greek Parties";
}

<h2>@ViewBag.SchoolName - @ViewBag.Title</h2>

<h4>
    @Html.ActionLink("Schedule Party", "Create")
</h4>
<tr>
    <table class="table">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.Name, "SignIn", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Street)
            <div>
                @Html.DisplayFor(modelItem => item.Location.City), @Html.DisplayFor(modelItem => item.Location.State), @Html.DisplayFor(modelItem => item.Location.ZIP)
            </div>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>