@model MSTGreekLife.Models.PartyModel

<tr>
    <table class="table">
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Age
        </th>
        <th>
            Greek House
        </th>
        <th>
            Student ID
        </th>
        <th>
            Actions
        </th>
</tr>

<h3>Current Attendees - (@Model.Students.Count)</h3>
@foreach (var item in Model.Students)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GreekHouse.HouseName)
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.ActionLink("Blacktist From Location", "BlackListStudent", new { id = item.StudentID, partyId = Model.Id }) |
            @Html.ActionLink("Delete", "DeleteStudent", routeValues: new { id = item.StudentID, partyId = Model.Id })
        </td>
    </tr>
}

</table>